# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
# Integer is a whole number
favorite_number = 23

##### Assinging float

In [2]:
# Float is a number with a decimal
a_float = 1.5

#### Performing Calculations on ints and floats

##### Addition

In [13]:
print(5+5)
print(favorite_number + 5)

#Didn't reassign favorite_number value
print(a_float + 5)

10
158
5.9

##### Subtraction

In [11]:
print(10-5)
print(favorite_number - 10)

#long hand version
favorite_number = favorite_number - 10
print(favorite_number)

#short hand version
a_float -= .3
print(a_float)

5
17
17
0.8999999999999999

##### Multiplication

In [17]:
print(5*2)
print(favorite_number * 3)
#reassign
#long hand
favorite_number = favorite_number *3
print(favorite_number)
#short hand
favorite_number *= 3
print(favorite_number)

10
334611
334611
1003833

##### Division

In [29]:
#output a float
print(10/2)

print(favorite_number / 3)
# still holding original value
print(favorite_number)

favorite_number /= 3
print(favorite_number)

5.0
153.0
459.0
153.0

##### Floor Division

In [32]:
# output the original data type between in || float
print(11 // 2)
#reassigning with floor division
favorite_number //= 9
print(favorite_number)

print(11.5 // 2)

5
1.0
5.0

##### Modulo

In [34]:
# used with % outputs remainder
print(10 % 2)

print(11 % 2)

print(124 % 25)

0
1
24

##### Exponential

In [39]:
# **
#squaring
print(10**2)

print(10**3)

my_num = 10
#reassining
#long hand
my_num = my_num ** 2
print(my_num)
#short hand
my_num **= 2
print(my_num)

100
1000
100
10000

### String Input-Output

##### String Assignment

In [41]:
instructor = 'Sean'

print(type(instructor))

num_string = '500'

print(type(num_string))

<class 'str'>
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [43]:
#end by default is new line /n can overwrite by adding end argument
print(instructor, end=' Currie ')
print('hello world')
print('test')

Sean Currie hello world

##### String Concatenation

In [47]:
first_name = 'Agent'
last_name = 'Smith'

full_name = first_name +' '+ last_name
print(full_name)

my_name = 'Dylan'
my_name = my_name + ' Smith'
print(my_name)

#short hand
my_name += ' jr' 
print(my_name)

Agent Smith
Dylan Smoth
Dylan Smoth jr

##### Type Conversion

In [52]:
# str() function is out of place not changing original type must reassign

print(my_num, type(my_num))

print(type(str(my_num)))

# reassigned to converted number

my_num = str(my_num)

#type error
#my_num + 5

print(my_num, type(my_num))

10000 <class 'int'>
<class 'str'>
10000 <class 'str'>

In [53]:
#convert to into with int()

print(my_num, type(my_num))

int(my_num)

print(type(my_num))

#reassign to new type
my_num = int(my_num)

print(type(my_num))

#value error
#int('100andone')
#argument must be all digits

10000 <class 'str'>

##### input()

In [1]:
# input() takes a prompt as an argument
#always returns a string

user_name = input('What is your name? ')

What is your name? William

In [3]:
print(user_name)

William

In [4]:
user_age = input('What is your age? ')

What is your age? 26

In [5]:
user_age = int(user_age)
user_age += 1
print(user_age)

27

##### format()

In [7]:
print('User {} is {} years old'.format(user_name, user_age))

User William is 27 years old

##### Old Way (python 2)

In [10]:
print('User %s is %s years old'%(user_name, user_age))

User William is 27 years old

In [11]:
print(f'User {user_name} is {user_age} years old')

User William is 27 years old

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [1]:
car_color = input('What is the color of your car? ')

What is the color of your car? Black

In [2]:
car_year = input('What year was car made? ')

What year was car made? 2020

In [6]:
car_make = input('What is your cars make? ')

What is your cars make? Nissan

In [4]:
car_model = input('What is your cars model? ')

What is your cars model? Murano

In [7]:
print(f'Your car is a {car_year} {car_color} {car_make} {car_model}')

Your car is a 2020 Black Nissan Murano

### If Statements

In [12]:
# if (boolean):
    # run action must be indented

if True:
    print('condition true')

if 1:
    print('true')

if 0:
    print('zero true')

condition true
true

In [1]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

if 5 > 4:
    print('five > 4')
    
if 5 < 4:
    print('five < 4')
    
if 5 == 5:
    print('5 == 5')
    
if 5 + 5 >= 10:
    print('10 >= 10')
    
if 5 + 5 > 9:
    print('10 > 9')
    
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

if True and False:
    print('True and False')
    
if True or False:
    print('True or False')
if 5 + 5 == 10 and 11 > 10:
    print('11 > 10 == 10')
    print('second action')
    
    
if 5 + 5 == 10 and 11 > 10:
    print('11 > 10 == 10')
    print('second action')
    
#first condition returns false, does not check 2nd condition
if 10 == 11 and int(input('What is your age?')) > 18:
    print('breaking at first condition')
# t or f
#if 10 == 11 or int(input('What is your age?')) > 18:
 #   print('breaking at first condition')
    
# T or T
if 1 > 0 or 10 == 10:
    print('both true')
    
# f or f
if 1 > 2 or 2 > 3:
    print('both true using or')

five > 4
5 == 5
10 >= 10
10 > 9
True or False
11 > 10 == 10
second action
11 > 10 == 10
second action
both true

##### 'is' keyword

In [5]:
simple_list = [1,2,3,4]
basic_list = [1,2,3,4]
#true
simple_list == basic_list
#false
simple_list is basic_list

simple_list_copy = simple_list
print(simple_list_copy)

print(simple_list_copy is simple_list)

simple_list.append(5)

print(simple_list_copy)

print(basic_list)

[1, 2, 3, 4]
True
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

##### 'in' keyword

In [9]:
# membership check
#case sensitive
character = 'Neo'
print('N' in character)
print('n' in character)
print('O','N','E' in 'NEO')
print('neo' in 'neo')
#out of order
print('one' in 'neo')

True
False
O N True
True
False

In [10]:
for character in ['o','n','e']:
    if character in 'neo':
        print(f'{character}true')

otrue
ntrue
etrue

##### 'not in' keyword'

In [11]:
if 'z' not in character:
    print('no z in Neo')
if 'n' not in 'neo':
    print('no n in neo')

no z in Neo

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
your_word = input('Type a word ')
if 'p' not in your_word:
    print('There is no p in your word')
else:
    print('there is a p in your word')

## Using 'and'/'or' with If Statements

In [ ]:
#see above

### Elif Statements

In [4]:
if 5+5 == 100:
    print('10 == 10')
elif 100 > 99:
    print('100 > 99')
    
#check both conditions
#if 5+5 == 10:
#    print('10 == 10')
#if 100 > 99:
#    print('100 > 99')

# chaining multiple conditions
if False:
    print('false')
elif 0:
    print('0')
elif 1:
    print("1")
elif True:
    print('second true')

100 > 99
1

### Else Statements

In [5]:
# see above

if 'a' in 'morpheous':
    print('a in morpheous')
else:
    print('no a in morpheous')
    
if 'a' in 'neo':
    print('a in neo')
elif 'n' in 'neo':
    print('n in neo')
else:
    print('no a or n in neo')

no a in morpheous
n in neo

### For Loops

In [6]:
# for keyword, loop variable, in, iterable
count = 0
for char in 'neo is the one':
    print(char)
    print('test')
    count+=1
    print(count)

n
test
e
test
o
test

test
i
test
s
test

test
t
test
h
test
e
test

test
o
test
n
test
e
test

In [11]:
#for num in range(10):
#    print(num)

#range(start,stop,step)

#for num in range(1,11):
#    print(num)
    
for num in range(2,21,2):
    print(num)

2
4
6
8
10
12
14
16
18
20

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [12]:
for num in range(10):
    if num == 5:
        continue
    print(num)

0
1
2
3
4
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [13]:
for num in range(10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [14]:
def get_user_age():
    pass
def calculate_age():
    pass
for num in range(10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

##### Double For Loops

In [17]:
for num in range(1):
    for char in 'sean currie':
        print(num, char)

0 s
0 e
0 a
0 n
0
0 c
0 u
0 r
0 r
0 i
0 e

### While Loops

In [18]:
# key while, condition to keep looping

num=0
while num < 100:
    print(num)
    num +=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

##### Looping 'While True'

In [20]:
i = 0
while True:
    print('hello')
    i+=1
    print(i)
    if i == 100:
        break

hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9
hello
10
hello
11
hello
12
hello
13
hello
14
hello
15
hello
16
hello
17
hello
18
hello
19
hello
20
hello
21
hello
22
hello
23
hello
24
hello
25
hello
26
hello
27
hello
28
hello
29
hello
30
hello
31
hello
32
hello
33
hello
34
hello
35
hello
36
hello
37
hello
38
hello
39
hello
40
hello
41
hello
42
hello
43
hello
44
hello
45
hello
46
hello
47
hello
48
hello
49
hello
50
hello
51
hello
52
hello
53
hello
54
hello
55
hello
56
hello
57
hello
58
hello
59
hello
60
hello
61
hello
62
hello
63
hello
64
hello
65
hello
66
hello
67
hello
68
hello
69
hello
70
hello
71
hello
72
hello
73
hello
74
hello
75
hello
76
hello
77
hello
78
hello
79
hello
80
hello
81
hello
82
hello
83
hello
84
hello
85
hello
86
hello
87
hello
88
hello
89
hello
90
hello
91
hello
92
hello
93
hello
94
hello
95
hello
96
hello
97
hello
98
hello
99
hello
100

##### While & For Loops Used Together

In [21]:
num = 0
while num < 5:
    for char in 'sean':
        print(num, " ", char)
    num+=1

0   s
0   e
0   a
0   n
1   s
1   e
1   a
1   n
2   s
2   e
2   a
2   n
3   s
3   e
3   a
3   n
4   s
4   e
4   a
4   n

### Built-In Functions

##### range()

In [1]:
# range(start, stop, step)
# only one required argument- would be stop
# start defaults to 0 and step defaults to 1
print(range(10))

range(0, 10)

##### len()

In [24]:
len('sean currie')
instructor = 'sean currie'
for i in range(len(instructor)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

##### help()

In [25]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [26]:
type(instructor)

print(isinstance(instructor, str))

True

##### abs()

In [ ]:
abs(-5)
abs(5)

### Try and Except

In [27]:
while True:
    try:
        user_age = int(input('What is your age? '))
        break
    except:
        print('error enter age in digits')

What is your age? ten
error enter age in digits
What is your age? twenty
error enter age in digits
What is your age? 14

### Lists

##### Declaring Lists

In [10]:
my_sum = 0
for num in range(6):
    print(sum, " + ", num, f'= {sum+num}')
    sum += num
print(my_sum)

15  +  0 = 15
15  +  1 = 16
16  +  2 = 18
18  +  3 = 21
21  +  4 = 25
25  +  5 = 30
0

In [11]:
# Declare a list with []

new_list = []

print(type(new_list))

<class 'list'>

##### Indexing a List

In [16]:
# Index with bracket notation

students = ['ray', 'christopher', 'alec', 'gian', 'john']

students[0]
students[1]
# Indencies are Integers can do any math operations
students[1+1]
# -1 starts at the end of the list
students[-1]
students[-2]

'gian'

##### .append()

In [17]:
# Add an element at the end of the list
# Method Dot Notation
print(students)
students.append('Will')
# only takes in one arguement 
print(students, 'after append')
# Built in function
sorted(students)

['ray', 'christopher', 'alec', 'gian', 'john']
['ray', 'christopher', 'alec', 'gian', 'john', 'Will'] after append

['Will', 'alec', 'christopher', 'gian', 'john', 'ray']

In [19]:
# 2d list
matrix = []

matrix.append([1,2,3])
matrix.append([1,0,1,0])
matrix.append([0,0,1,1])

print(matrix)

[[1, 2, 3], [1, 0, 1, 0], [0, 0, 1, 1]]

In [22]:
for a_list in matrix:
    for num in a_list:
        print(num)

1
2
3
1
0
1
0
0
0
1
1

##### .insert()

In [25]:
# insert an element into a specified position

print(students)
#students.insert(0, 'Kevin')
print(students,' after insert')
#students.insert(1, 'Andy')
print(students)

['Kevin', 'Andy', 'ray', 'christopher', 'alec', 'gian', 'john', 'Will']
['Kevin', 'Kevin', 'Andy', 'ray', 'christopher', 'alec', 'gian', 'john', 'Will']  after insert
['Kevin', 'Kevin', 'Andy', 'ray', 'christopher', 'alec', 'gian', 'john', 'Will']

##### .pop()

In [31]:
# Remove an element at a given index. Defaults to last element (-1)
# Atore the popped value, option

print(students)
#students.pop()

#removed_students = students.pop(2)
print(students)
print(f'Removed from list {removed_students}')

students.pop(0)
print(students)

['Kevin', 'Andy', 'christopher', 'alec', 'gian', 'john']
['Kevin', 'Andy', 'christopher', 'alec', 'gian', 'john']
Removed from list ray
['Andy', 'christopher', 'alec', 'gian', 'john']


##### .remove()

In [26]:
# Remove an element that is passed in as an argument
print(students)
students.remove('Kevin')
print(f'{students} after remove')

['Kevin', 'Kevin', 'Andy', 'ray', 'christopher', 'alec', 'gian', 'john', 'Will']
['Kevin', 'Andy', 'ray', 'christopher', 'alec', 'gian', 'john', 'Will'] after remove

In [29]:
while 'Kevin' in students
    students.remove('Kevin')
print(students)

SyntaxError: expected ':' (202866772.py, line 1)

##### del()

In [39]:
# del is a built in function, not a method

print(students)

del(students[0])

print(students)

['gian', 'john']
['john']

##### Concatenating Two Lists

In [42]:
print(students)

students_list_2 = ['yea', 'todd', 'andy', 'william']
print(students + students_list_2)

full_students_list = students + students_list_2
print(full_students_list)

students += students_list_2

print(students, ' og students list')

# inline

students += ['karina', 'vinh']
print(students, ' inline')

['john', 'yea', 'todd', 'andy', 'william']
['john', 'yea', 'todd', 'andy', 'william', 'yea', 'todd', 'andy', 'william']
['john', 'yea', 'todd', 'andy', 'william', 'yea', 'todd', 'andy', 'william']
['john', 'yea', 'todd', 'andy', 'william', 'yea', 'todd', 'andy', 'william']  og students list
['john', 'yea', 'todd', 'andy', 'william', 'yea', 'todd', 'andy', 'william', 'karina', 'vinh']  inline

##### Lists Within Lists

In [ ]:
# see above

##### Looping Through Lists

In [48]:
# for loop through students accessing elements
#print(students)
#for e in students:
 #   print(e)
    
# loop through with the indecies
#for i in range(len(students)):
#    print(students[i])

#crucual when you care about elements at other positions

print(len(students))
print(range(11))
for i in range(11):
    print(i)

print(students)

['john', 'yea', 'todd', 'andy', 'william', 'yea', 'todd', 'andy', 'william', 'karina', 'vinh']
11
range(0, 11)
0
1
2
3
4
5
6
7
8
9
10

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [37]:
num=1
while num < 1000:
    print(num)
    num +=2**3

1
9
17
25
33
41
49
57
65
73
81
89
97
105
113
121
129
137
145
153
161
169
177
185
193
201
209
217
225
233
241
249
257
265
273
281
289
297
305
313
321
329
337
345
353
361
369
377
385
393
401
409
417
425
433
441
449
457
465
473
481
489
497
505
513
521
529
537
545
553
561
569
577
585
593
601
609
617
625
633
641
649
657
665
673
681
689
697
705
713
721
729
737
745
753
761
769
777
785
793
801
809
817
825
833
841
849
857
865
873
881
889
897
905
913
921
929
937
945
953
961
969
977
985
993

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [38]:
# HINT::
# An else after an if runs if the if didnt
# An else after a for runs if the for didnt break


def prime(number):
    for num in range(2,number):
        prime = True
        for i in range(2,num):
            if num % i == 0:
                prime = False
        if prime:
            print(num)
prime(101)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [21]:
age = int(input('What is your age? '))

if age < 18:
    print('Kid')
elif age > 18:
    print('Adult')
elif age > 65:
    print("senior")

What is your age? 26
Adult